header {
    width: 100%;
    height: 5vw;
    background-color: #000;
    position: fixed;
}

header .container {
    margin: auto;
    width: 97%;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    background-color: #f000;

}

header .logo {
    width: 8vw;
    height: 5vw;
}

header .logo .logo_img {
    margin-top: 1.2vw;
    width: 7.5;
}